body {
  font-family: 'Open Sans', Helvetica, Arial;
  color: #000;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: auto;
  padding: 50px 20px 0 20px;
}
