body {
  font-family: 'Open Sans', Helvetica, Arial;
  color: #000;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 320px;
  max-width: 960px;
  background: white;
  margin: auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
