body {
  font-family: 'Open Sans', Helvetica, Arial;
  color: #000;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  min-width: 320px;
  max-width: 960px;
  margin: auto;
  padding: 50px 20px 0 20px; }

p {
  font-weight: lighter;
  text-align: justify; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: #000; }

h1 {
  font-size: 22px;
  text-align: center; }

input, textarea {
  font-family: inherit;
  font-size: 12px;
  color: #969696;
  outline: none;
  border: 1px solid #969696;
  border-radius: 5px;
  width: 100%;
  padding: 4px 6px; }

.topbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  height: 50px;
  width: 100%; }

.topbar-inner {
  width: 960px;
  margin: 0 auto; }

.topbar-menu {
  list-style: none; }

.topbar-menu-item {
  float: left;
  padding-left: 20px; }
  .topbar-menu-item a {
    color: white; }
    .topbar-menu-item a:hover {
      border-bottom: 1px solid #9900cc; }

.logo {
  width: 300px;
  margin: auto;
  display: block;
  padding-top: 10px; }

.slogan {
  font-weight: lighter; }
