.topbar {
	position: fixed;
	left: 0; top: 0;
	background-color: black;
  height: 50px;
	width: 100%;
}

.topbar-inner {
	width: 960px;
  margin: 0 auto;
}

.topbar-menu {
  list-style: none;
}

.topbar-menu-item {
  float: left;
  padding-left: 20px;

  a {
    color: white;

    &:hover {
      border-bottom: 2px solid #9900cc;
    }
  }
}

.logo {
  width: 280px;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.slogan {
  font-weight: lighter;
}
